@model IEnumerable<ArticleModel>
@using WebEnterprise_1640.Models
@{
    ViewData["Title"] = "Articles";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/CMP59.css">
<div class="container mt-4">
    <div class="">
        @foreach (var article in Model)
        {
            <div class="mx-auto mb-4 card-container">
                <div class="card magazine-card">
                    <div class="card-body">
                        <p><b>Article title:</b></p>
                        @article.Name
                    </div>
                    <div class="card-body">
                        <p><b>Article Description:</b></p>
                        @article.Description
                    </div>
                    <div class="card-body">
                        <p><b>Student Name:</b></p>
                        @article.User.FullName
                    </div>
                    <div class="card-body">
                        <p><b>Date submitted:</b></p>
                        @article.SubmitDate.ToString("MMMM-dd-yyyy h:mm tt")
                    </div>
                </div>
                <div class="card-body card magazine-card">
                <div class="card-body">
                    <b><a>File submission:</a></b>
                    @foreach (var document in article.Documents.Where(d => d.ArticleId == article.Id))
                    {
                        <a href="~/media/@document.File" class="small" download><i class="fa-regular fa-file"></i>@document.File</a>
                        <br />
                    }
                </div>
                <div class="card-body">
                    <b><a>Image File:</a></b>
                    @foreach (var document in article.Documents.Where(d => d.ArticleId == article.Id))
                    {
                        <a href="~/media/@document.Image" class="small" download><i class="fa-solid fa-file-image"></i>@document.Image</a>
                        <br />
                    }
                </div>
                </div>
            </div>
        }

    </div>
</div>

