@using WebEnterprise_1640.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebEnterprise_1640.Models.ArticleModel;
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css//create.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nav_footer.css">
</head>
<body>
    @{
        var userData = ViewBag.User;
        UserModel? user = null;
        if (userData != null)
        {
            user = (UserModel)userData;
        }
    }
    <header>
        <div class="nav-bar">
            <div class="nav-1">
                <p>BEE MAGAZINE
                <p>
            </div>
            <div class="home an" id="home">
                <div class="home-cover">
                    <a href="/Home/Index" class="home-button" style="text-decoration:none" >Home</a>
                    <a href="/Uploads/Index" class="home-button" style="text-decoration:none; margin-left:2rem; color: dodgerblue">Uploads</a>
                </div>
            </div>
            @if (user != null)
            {
                <div class="user-1">
                    <a href="/Profile/Test/@user.Id" class="welcome" style="color: dodgerblue; font-weight: bold; ">Welcome, @user.UserName</a>
                    <div class="button an" id="login">
                        <a href="@Url.ActionLink("Logout", "Account")" class="login-button">Log out</a>
                    </div>
                </div>
            }
            else
            {
                <div class="button an" id="login">
                    <a href="/Account/Login" class="login-button">Log in</a>
                </div>
            }
            <div onclick="showmenu()" class="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="show-menu none">
        </div>
    </header>
    <!-- UI Delete -->
    @*   <div class="show-modal-delete">
    <div class="panel">
    <div class="img-delete">
    <img src="https://freepngtransparent.com/wp-content/uploads/2023/03/X-Png-136.png" alt="">
    </div>
    <h2>Are you sure?</h2>
    <p>You will not be able to recover anymore !</p>
    <div class="deleted" onclick="closemodal_()">
    <button class="del">Delete</button>
    <button class="can">Cancel</button>
    </div>
    @await Html.PartialAsync("Delete")
    </div>

    </div> *@
    <div id="testBox">
        <div class="body-admin">
            <div class="show-modal ">
                <form asp-controller="Edit" asp-action="EditData" class="form-horizontal row-border" method="post" enctype="multipart/form-data">
                    <div class="panel">
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div style="margin-bottom:1rem">
                                <p style="color:red;font-weight:bold;font-size:18px">@TempData["ErrorMessage"]</p>
                            </div>
                        }
                        <input type="hidden" asp-for="MagazineId" value="@ViewBag.MagazineId" />
                        <input class="title-content" asp-for="Id" name="Id" type="text" style="display:none" class="title-content" />
                        <div class="edit-title">
                            Edit Submission
                        </div>
                        <h3>Title</h3>
                        <input class="title-content" asp-for="Name" name="Name" type="text" style="" class="title-content" />

                        <h3>Description</h3>
                        <input asp-for="Description" name="Description" type="text" class="title-content" />

                        <div class="submit-file">
                            <h3>Submit your file</h3>
                            <div style="cursor:pointer" id="btnUpfile" class="add-file">Add file</div>
                        </div>

                        <div class="file-content">
                            @if(ViewBag.File != null ) {
                                foreach (var file in ViewBag.File as List<DocumentModel>)
                                {
                                    if (file.File == null || file.File.Length == 0)
                                    {
                                        continue;
                                    }
                                    <div class="file-1">
                                        <div class="file-inf">
                                            <p>-</p>
                                            <div class="icon-file">
                                                <i class="fa-regular fa-file-lines"></i>
                                            </div>
                                            <div class="file-name">
                                                @file.File
                                            </div>
                                            <a href="@Url.Action("DeleteView","SubmitArticle", new {id = @file.Id, type = "file", articleId = Model.Id})" class="icon-dele"> <i class="fa-solid fa-circle-xmark"></i></a>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="file-1" id="divupfile" style="display:none">
                                <div class="file-inf">
                                    <p>-</p>
                                    <div class="icon-file">
                                        <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <div class="file-name">
                                        <span id="viewFileName"></span>
                                    </div>
                                </div>
                                <a class="icon-dele">
                                    <i id="deleteFile" class="fa-solid fa-circle-xmark"></i>
                                </a>
                            </div>
                        </div>
                        <div class="submit-file">
                            <h3>Submit image</h3>
                            <div style="cursor:pointer" class="add-file" id="btnImgfile">Add file</div>
                        </div>
                        <div class="file-content">
                            @if(ViewBag.File != null ) {
                                foreach (var file in ViewBag.File as List<DocumentModel>)
                                        {
                                    if(file.Image == null || file.Image.Length == 0)
                                    {
                                        continue;
                                    }
                                    <div class="file-1">
                                    <div class="file-inf">
                                        <p>-</p>
                                        <div class="icon-file">
                                            <i class="fa-regular fa-file-image"></i>
                                        </div>
                                            <div class="file-name">
                                                @file.Image
                                            </div>
                                            <a href="@Url.Action("DeleteView","SubmitArticle", new {id = @file.Id, type = "image", articleId = Model.Id})" class="icon-dele"> <i class="fa-solid fa-circle-xmark"></i></a>
                                    </div>
                                </div>
                                }
                            }
                            <div class="file-1" id="divviewimg" style="display:none">
                                <div class="file-inf">
                                    <p>-</p>
                                    <div class="icon-file">
                                        <i class="fa-regular fa-file-image"></i>
                                    </div>
                                    <div class="file-name">
                                        <span id="viewImgName"></span>
                                    </div>
                                </div>
                                <a class="icon-dele">
                                    <i id="deleteFile" class="fa-solid fa-circle-xmark"></i>
                                </a>
                                @* <div class="icon-dele">
                                <div onclick="deletel()" class="icon-dele">
                                <i class="fa-solid fa-circle-xmark"></i>
                                </div>
                                </div> *@
                            </div>
                        </div>

                        <div class="deleted" onclick="closemodal()">
                            <button class="del" type="submit">Confirm</button>
                            <a class="can" href="@Url.Action("Index","GetbyId", new {id = @Model.MagazineId})">Cancel</a>
                        </div>
                    </div>
                    <input style="display:none" onchange="loadNameFile(event)" id="inputFile" style="color:black" name="file" type="file" />
                    <input style="display:none" onchange="loadImgFile(event)" id="inputImg" style="color:black" name="file" type="file" />
                </form>
            </div>
        </div>
    </div>

    <div class="body-content">
        <div class="article">
            <div class="article-1">
                <div class="arti-1">
                    Aritcle title:
                </div>
                <div class="arti-1">
                    Aritcle description:
                </div>
                <div class="arti-1">
                    Date submitted:
                </div>
                <div class="arti-1">
                    Final deadline:
                </div>
            </div>
            <div class="article-2">
                <div class="arti-2">
                    @Model.Name
                </div>
                <div class="arti-2">
                    @Model.Description
                </div>
                <div class="arti-2">
                    @* @ViewBag.Articles.TimeSubmit
                    </div>
                    <div class="arti-2">
                    @* @ViewBag.Articles.TimeEnd *@
                </div>
            </div>
        </div>
        <div class="file">
            <div class="file-1">
                <div class="cle-1">
                    Status:
                </div>
                <div class="cle-1">
                    File submissions:
                </div>
                <div class="cle-1">
                    Image File:
                </div>
            </div>
        </div>
        <div class="submit-button">
            <button class="icon-delete">
                Edit Submission
            </button>

            <a class="remove">
                Remove Submission
            </a>
        </div>
        @if (Model.Comments != null && Model.Comments.Count() > 0)
        {
            <h2>Feedback, comment</h2>
            @foreach (var comment in Model.Comments)
            {
                <div class="feedback">
                    <div class="person">
                        <div class="avatar">
                            <div class="img">
                                <img src="https://png.pngtree.com/element_our/png/20181022/man-avatar-icon-professional-man-character-business-man-avatar-carton-symbol-png_206531.jpg"
                                     alt="">
                            </div>
                        </div>
                        <div class="name">
                            @comment.User.FullName
                        </div>
                    </div>
                    <div class="feedback-content">
                        @* <h4>Good point:</h4> *@
                        <li>
                            @comment.Content
                        </li>
                    </div>
                    @*                 <div class="time-comment">
            <div class="icon-time-comment">
            <i class="fa-solid fa-calendar-days"></i>
            </div>
            <div class="time-comment-content">
            1 hour ago
            </div>
            </div> *@
                </div>
            }
        }
@*         <h2>Add a comment</h2>
        <div class="add">
            <input type="text" class="add-comment"><br>
            <div class="icon-add">
                <i class="fa-regular fa-paper-plane"></i>
            </div>
        </div> *@
        <h2>Add a comment</h2>
        <form asp-controller="SubmitArticle" asp-action="AddComment" method="post">
            <input type="hidden" name="articleId" value="@Model.Id" />
            <div class="add">
                <input type="text" class="add-comment" name="comment"><br>
                <button type="submit" class="icon-add" style="border: none">
                    <i class="fa-regular fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div>


    <footer>
        <div class="colum">
            <div class="colum-1">
                <h2>COMP1640</h2>
            </div>
            <div class="colum-2">
                <h3>About us</h3>
                <div class="contact">
                    <p>Popular</p>
                    <p>Trending</p>
                    <p>Contact</p>
                    <p>Support/Help</p>
                    <p>Request Topics</p>
                </div>
            </div>
            <div class="colum-3">
                <h3>Follow us</h3>
                <div class="social">
                    <div class="facebook">
                        <div class="icon">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <p>Facebook</p>
                    </div>
                    <div class="facebook">
                        <div class="icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <p>Instagram</p>
                    </div>
                    <div class="facebook">
                        <div class="icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <p>Twitter</p>
                    </div>
                    <div class="facebook">
                        <div class="icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                        <p>LinkedIn</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="copy-right">
            <div class="year">
                2024 COMP1640. All right reserved.
            </div>
            <div class="policy">
                <u>Privacy Policy</u>
                <u>Term of Service</u>
                <u>Cookies Settings</u>
            </div>
        </div>

    </footer>
    <script src="./menu.js"></script>
</body>


<script src="~/js/site.js" asp-append-version="true"></script>
</html>
