@using WebEnterprise_1640.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebEnterprise_1640.Models.ArticleModel;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nav_footer.css">
</head>

<body>
    @{
        var userData = ViewBag.User;
        UserModel? user = null;
        if (userData != null)
        {
            user = (UserModel)userData;
        }
    }
    <header>
        <div class="nav-bar">
            <div class="nav-1">
                <p>BEE MAGAZINE
                <p>
            </div>
            <div class="home an" id="home">
                <div class="home-cover">
                    <a href="/Home/Index" class="home-button" style="text-decoration:none">Home</a>
                    <a href="/Uploads/Index" class="home-button" style="text-decoration:none; margin-left:2rem; color: dodgerblue">Uploads</a>
                </div>
            </div>
            @if (user != null)
            {
                <div class="user-1">
                    <a href="/Profile/Test/@user.Id" class="welcome" style="color: dodgerblue; font-weight: bold; ">Welcome, @user.UserName</a>
                    <div class="button an" id="login">
                        <a href="@Url.ActionLink("Logout", "Account")" class="login-button">Log out</a>
                    </div>
                </div>
            }
            else
            {
                <div class="button an" id="login">
                    <a href="/Account/Login" class="login-button">Log in</a>
                </div>
            }
            <div onclick="showmenu()" class="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="show-menu none">
        </div>
    </header>
    <!-- UI Delete -->
    <div class="show-modal-delete none">
        <div class="panel">
            <div class="img-delete">
                <img src="https://freepngtransparent.com/wp-content/uploads/2023/03/X-Png-136.png" alt="">
            </div>
            <h2>Are you sure?</h2>
            <p>You will not be able to recover anymore !</p>
            <div class="deleted" onclick="closemodal_()">
                <button class="del">Delete</button>
                <button class="can">Cancel</button>
            </div>
        </div>
    </div>
    <div id="testBox">
        @* @await Html.PartialAsync("Edit", Model) *@
    </div>

    <div class="body-content">
        <div style="padding-bottom: 20px">
            <div class="article">
                <div class="article-1">
                    <div class="arti-1">
                        Aritcle title:
                    </div>
                </div>
                <div class="article-2">
                    <div class="arti-2">
                        @ViewBag.Articles.Name
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="article-1">
                    <div class="arti-1">
                        Aritcle description:
                    </div>
                </div>
                <div class="article-2">
                    <div class="arti-2">
                        @ViewBag.Articles.Description
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="article-1">
                    <div class="arti-1">
                    Date submitted:
                    </div>
                </div>
                <div class="article-2">
                    <div class="arti-2">
                    @ViewBag.Articles.TimeSubmit
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="article-1">
                    <div class="arti-1">
                    Final deadline:
                    </div>
                </div>
                <div class="article-2">
                    <div class="arti-2">
                    @ViewBag.Articles.TimeEnd
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="file">
                <div class="file-1">
                    <div class="cle-1">
                        Status:
                    </div>
                    @* <div class="cle-1">
                    File submissions:
                    </div>
                    <div class="cle-1">
                    Image File:
                    </div> *@
                </div>
                <div class="file-2">
                    <div class="cle-2">
                        Submitted
                    </div>
                    @* @if (ViewBag.File != null)
                    {
                    foreach (var file in ViewBag.File as List<DocumentModel>)
                    {
                    if (file.File == null || file.File.Length == 0)
                    {
                    continue;
                    }
                    <div class="cle-3">
                    <div class="inf">
                    <div class="sub-1">
                    ---
                    </div>
                    <div class="sub-1">
                    <i class="fa-regular fa-file-lines"></i>
                    </div>
                    <div class="sub-1">
                    <a href="~/media/@file.File" download="@file.File">
                    @file.File
                    </a>
                    </div>
                    </div>
                    </div>
                    }
                    }
                    @if (ViewBag.File != null)
                    {
                    foreach (var file in ViewBag.File as List<DocumentModel>)
                    {
                    if (file.Image == null || file.Image.Length == 0)
                    {
                    continue;
                    }
                    <div class="cle-3">
                    <div class="inf">
                    <div class="sub-1">
                    ---
                    </div>
                    <div class="sub-1">
                    <i class="fa-solid fa-file-image"></i>
                    </div>
                    <div class="sub-1">
                    <a href="~/media/@file.Image" download=" @file.Image"> @file.Image</a>
                    </div>
                    </div>
                    </div>
                    }
                    } *@
                </div>
            </div>
            <div class="file">
                <div class="file-1">
                    <div class="cle-1">
                    File submissions:
                    </div>
                </div>
                <div class="file-2">
                    @if (ViewBag.File != null)
                    {
                    foreach (var file in ViewBag.File as List<DocumentModel>)
                    {
                    if (file.File == null || file.File.Length == 0)
                    {
                    continue;
                    }
                    <div class="cle-3">
                    <div class="inf">
                    <div class="sub-1">
                    ---
                    </div>
                    <div class="sub-1">
                    <i class="fa-regular fa-file-lines"></i>
                    </div>
                    <div class="sub-1">
                    <a href="~/media/@file.File" download="@file.File">
                    @file.File
                    </a>
                    </div>
                    </div>
                    </div>
                    }
                    }
                </div>
            </div>
            <div class="file">
                <div class="file-1">
                    <div class="cle-1">
                    Image File:
                    </div>
                </div>
                <div class="file-2">
                    @if (ViewBag.File != null)
                    {
                    foreach (var file in ViewBag.File as List<DocumentModel>)
                    {
                    if (file.Image == null || file.Image.Length == 0)
                    {
                    continue;
                    }
                    <div class="cle-3">
                    <div class="inf">
                    <div class="sub-1">
                    ---
                    </div>
                    <div class="sub-1">
                    <i class="fa-solid fa-file-image"></i>
                    </div>
                    <div class="sub-1">
                    <a href="~/media/@file.Image" download=" @file.Image"> @file.Image</a>
                    </div>
                    </div>
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
        @if (user != null && ViewBag.check != 1)
        {
            <div class="submit-button">
                <div class="icon-delete">
                    <a onclick="deletell()" href="@Url.Action("Index","Edit", new {id = @ViewBag.Articles.Id})" class="remove">
                        Edit Submission
                    </a>
                    <a href="@Url.Action("RemoveArticle","SubmitArticle", new {id = @ViewBag.Articles.Id})" class="remove">
                        Remove Submission
                    </a>
                </div>
            </div>
        }
        @if (Model.Comments != null && Model.Comments.Count() > 0)
        {
            <h2 style="margin-top:1rem; margin-bottom: 1rem;">Feedback, comment</h2>
            @foreach (var comment in Model.Comments)
            {
                <div class="feedback" style="border-radius: 10px">
                    <div class="person">
                        <div class="avatar">
                            <div class="img" >
                                <img src="https://png.pngtree.com/element_our/png/20181022/man-avatar-icon-professional-man-character-business-man-avatar-carton-symbol-png_206531.jpg" style="border-radius: 50%"
                                     alt="">
                            </div>
                        </div>
                        <div class="name">
                            @comment.User.FullName
                        </div>
                    </div>
                    <div class="feedback-content">
                        @* <h4>Good point:</h4> *@
                        <li>
                            @comment.Content
                        </li>
                    </div>
                    @*                 <div class="time-comment">
            <div class="icon-time-comment">
            <i class="fa-solid fa-calendar-days"></i>
            </div>
            <div class="time-comment-content">
            1 hour ago
            </div>
            </div> *@
                </div>
            }
        }
        
        @* <div class="feedback">
            <div class="person">
                <div class="avatar">
                    <div class="img">
                        <img src="https://png.pngtree.com/element_our/png/20181022/man-avatar-icon-professional-man-character-business-man-avatar-carton-symbol-png_206531.jpg"
                             alt="">
                    </div>
                </div>
                <div class="name">
                    Ed Sheeran
                </div>
            </div>
            <div class="feedback-content">
                <h4>Good point:</h4>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laboru
                </li>
                <h4>Need to improve:</h4>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.
                </li>
            </div>
            <div class="time-comment">
                <div class="icon-time-comment">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
                <div class="time-comment-content">
                    1 hour ago
                </div>
            </div>
        </div> *@
        <h2>Add a comment</h2>
        <form asp-controller="SubmitArticle" asp-action="AddComment" method="post">
            <input type="hidden" name="articleId" value="@Model.Id" />
            <div class="add">
                <input type="text" class="add-comment" name="comment"><br>
                <button type="submit" class="icon-add" style="border: none">
                    <i class="fa-regular fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div>


    <footer>
        <div class="colum">
            <div class="colum-1">
                <h2>COMP1640</h2>
            </div>
            <div class="colum-2">
                <h3>About us</h3>
                <div class="contact">
                    <p>Popular</p>
                    <p>Trending</p>
                    <p>Contact</p>
                    <p>Support/Help</p>
                    <p>Request Topics</p>
                </div>
            </div>
            <div class="colum-3">
                <h3>Follow us</h3>
                <div class="social">
                    <div class="facebook">
                        <div class="icon">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <p>Facebook</p>
                    </div>
                    <div class="facebook">
                        <div class="icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <p>Instagram</p>
                    </div>
                    <div class="facebook">
                        <div class="icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <p>Twitter</p>
                    </div>
                    <div class="facebook">
                        <div class="icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                        <p>LinkedIn</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="copy-right">
            <div class="year">
                2024 COMP1640. All right reserved.
            </div>
            <div class="policy">
                <u>Privacy Policy</u>
                <u>Term of Service</u>
                <u>Cookies Settings</u>
            </div>
        </div>

    </footer>
    <script src="./menu.js"></script>
    <script>
        function deletell() {
            const show = document.querySelector(".show-modal");
            show.classList.toggle("none");
        }

        function closemodal() {
            const show = document.querySelector(".show-modal");
            show.classList.toggle("none");
        }
        function showmenu() {
            const show = document.querySelector(".show-menu");
            const home = document.getElementById("home");
            const login = document.getElementById("login");
            login.classList.toggle("an");
            home.classList.toggle("an");
            show.classList.toggle("none");
        }
        function deletel() {
            const show = document.querySelector(".show-modal-delete");
            show.classList.toggle("none");
        }

        function closemodal_() {
            const show = document.querySelector(".show-modal-delete");
            show.classList.toggle("none");
        }
        $(document).ready(function () {
            debugger
            // Sử dụng AJAX để gọi action MyPartial trong HomeController
            $.ajax({
                url: '/Edit/ArticleModelController',
                type: 'GET',
                success: function (data) {
                    // Hiển thị PartialView lên trang chính
                    $('#testBox').html(data);
                }
            });
        });
    </script>
</body>

</html>