@model IEnumerable<WebEnterprise_1640.Models.ArticleModel>
<link rel="stylesheet" href="~/css/article.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@{
    ViewData["Title"] = "Selected Articles Page";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <form id="textSearchForm" action="@Url.Action("Index", "SelectedArticle")" method="get" class="form-inline rounded-pill bg-light p-2 position-relative">
                <div class="form-group mx-sm-3 mb-2 position-relative">
                    <input type="text" id="searchQuery" name="searchQuery" value="@ViewBag.SearchQuery" class="form-control form-control-sm rounded-pill pl-4" style="max-width: 80%; padding-left: 29px;" />
                    <i class="fa-solid fa-magnifying-glass position-absolute" style="left: 10px; width: 15px; height: 15px; top: 50%; transform: translateY(-50%);"></i>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form id="dateSearchForm" asp-controller="SelectedArticles" asp-action="Index" method="get" class="form-inline rounded-pill bg-light p-2">
                <div class="form-group">
                    <input type="date" id="searchDate" name="searchDate" class="form-control form-control-sm" onchange="submitForms();" />
                </div>
            </form>
        </div>

        <div class="col-md-6 text-md-right">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end mb-0">
                    @if (Model.Any())
                    {
                        <li class="page-item @(ViewBag.PageIndex == 1 ? "disabled" : "")">
                            <a class="page-link" href="@(Url.Action("Index", "SelectedArticle", new { magazineId = ViewBag.MagazineId, page = ViewBag.PageIndex - 1, searchQuery = ViewBag.SearchQuery, searchDate = ViewBag.SearchDate }))">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item @(ViewBag.PageIndex == ViewBag.TotalPages ? "disabled" : "")">
                            <a class="page-link" href="@(Url.Action("Index", "SelectedArticle", new { magazineId = ViewBag.MagazineId, page = ViewBag.PageIndex + 1, searchQuery = ViewBag.SearchQuery, searchDate = ViewBag.SearchDate }))">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    <table class="table" style="width: 100%;">
        <tbody>
            @foreach (var article in Model)
            {
                <tr>
                    <td><a href="/Article?Id=@article.Id" class="custom-link">@article.User.FullName</a></td>
                    <td><a href="/Article?Id=@article.Id" class="custom-link">@article.Name</a></td>
					<td class="table-button">
						<button onclick="handleSelect('@article.Id')" class="action-button">
							<i class="fa-solid fa-star"></i>
						</button>
					</td>
                    <td class="table-date">@article.SubmitDate.ToString("dd MMMM")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    			function getParameterByName(name, url) {
				if (!url) url = window.location.href;
				name = name.replace(/[\[\]]/g, "\\$&");
				var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, " "));
			}


			function setDateInputFromUrlParam() {
				var searchDate = getParameterByName('searchDate');
				if (searchDate) {
					document.getElementById('searchDate').value = searchDate;
				}
			}

			setDateInputFromUrlParam();
			document.getElementById("searchQuery").addEventListener("keypress", function (event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					submitForms();
				}
			});

		function submitForms() {
		var textSearchForm = document.getElementById("textSearchForm");
		var dateSearchForm = document.getElementById("dateSearchForm");
		var textFormData = new FormData(textSearchForm);
		var dateFormData = new FormData(dateSearchForm);


		var url = textSearchForm.getAttribute('action') + '?magazineId=' + getParameterByName('magazineId');


		for (var pair of textFormData.entries()) {
			if (pair[0] === 'searchQuery' && pair[1] !== '') {
				url += '&searchQuery=' + pair[1];
			}
		}
		for (var pair of dateFormData.entries()) {
			if (pair[0] === 'searchDate' && pair[1] !== '') {
				url += '&searchDate=' + pair[1];
			}
		}


		window.location.href = url;
		}

		function handleSelect(articleId) {
			updateStatus(articleId, 'submitted');
		}

</script>
